# Virtual Environment
nailenv/
env/
venv/

# Pycache / compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets
**/train/
**/val/
**/test/

# Local/IDE configs
.gemini/
.idea/
.vscode/

# Keys & Certificates (security)
*.pem
*.key

# Test Images
*.png
*.jpg
*.jpeg

# Evaluation and Explainability scripts
*evaluate*
*occlusion*

# Experiments and Results
results/
weights/
